---
layout: default
---
        <div class="site-inner">
            <div class="content-sidebar-wrap">
                <main class="content">
                    <div class="breadcrumb"><span><span><a href="/">Trang chủ</a> » <span class="breadcrumb_last">{{ page.title }}</span></span></span></span></div>
                    <article itemscope itemtype="https://schema.org/CreativeWork">
                        <header class="entry-header">
                            <h1 class="entry-title" itemprop="headline">{{ page.title }}</h1>
                            <p class="entry-meta"><time class="entry-time" itemprop="datePublished" datetime="{{ page.date }}">{{ page.date | date: "%d/%m/%Y" }}</time> <span class="entry-author" itemprop="author" itemscope itemtype="https://schema.org/Person"><a href="/author" class="entry-author-link" itemprop="url" rel="author"><span class="entry-author-name" itemprop="name">{{ site.author }}</span></a></span> </p>
                        </header>
                        <div class="entry-content" itemprop="text">
													{{ content }}
													
													<style>.demo_btn_bacsiwindows{color:#7577a9!important;border:2px solid!important;overflow:hidden;position:relative;padding:10px;display:inline-block;width:230px;text-align:center;text-decoration:none!important;text-transform:uppercase;font-size:15px;font-weight:500;margin:10px 5px}.demo_btn_bacsiwindows:after{background:#7577a9;content:"";height:155px;left:-75px;opacity:2;position:absolute;top:-50px;transform:rotate(40deg);transition:.5s;width:100px;z-index:1}.demo_btn_bacsiwindows:hover:after{opacity:1;left:120%;transition:.5s}</style>

													{% if page.demo %}
													<div style="text-align: center;"><a rel="nofollow" class="demo_btn_bacsiwindows" href="{{page.demo}}"><i class="fa fa-eye"></i> Demo</a></div>
													{% endif %}
													
													{% if page.file %}
													<div style="text-align: center;"><a rel="nofollow" class="demo_btn_bacsiwindows" href="https://mephimviet.gq{{page.file}}"><i class="fa fa-download"></i> Download</a></div>
													{% endif %}
                        </div>

                    </article>
                    <section class="author-box" itemprop="author" itemscope itemtype="https://schema.org/Person">
                        <img src="https://images.weserv.nl/?url={{ site.avatar }}&w=100&h=100&t=square&q=90" class='avatar avatar-70 photo' height='70' width='70' />
                        <h4 class="author-box-title">Tác giả: <span itemprop="name">{{ site.author }}</span></h4>
                        <div class="author-box-content" itemprop="description">
                            <p>"{{ site.quotes }}".</p>
                        </div>
                    </section>
{% if site.disqus_shortname %}
{% unless page.disqus_disabled %}
                    <div class="entry-comments" id="comments">
                        <h3>Bình luận</h3>
                        <ol class="comment-list">
													  <div id="disqus_thread"></div>
															<script type="text/javascript">var disqus_shortname="{{ site.disqus_shortname }}";!function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="https://{{ site.disqus_shortname }}.disqus.com/embed.js",(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(e)}();</script>
                        </ol>
                    </div>
{% endunless %}
{% endif %}
									
									
        <script type="text/javascript">
            var adlinkfly_url = 'https://za.gl/';
            var adlinkfly_api_token = '91a07819674ad33ab5f548080b99130a3c1b136b';
            var adlinkfly_advert = 2;
            var adlinkfly_domains = ['mephimviet.gq'];
        </script>
        <script src='//za.gl/js/full-page-script.js'></script>						


		<!-- Gitalk start  -->
                {% if site.gitalk.enable %}
                <!-- Gitalk link  -->
				<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
				<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
				
                    <div class="entry-comments" id="comments">
                        <h3>Bình luận</h3>
                        <ol class="comment-list">
						
                <div id="gitalk-container"></div>
                <script type="text/javascript">
                    var gitalk = new Gitalk({
                    clientID: '{{site.gitalk.clientID}}',
                    clientSecret: '{{site.gitalk.clientSecret}}',
                    repo: '{{site.gitalk.repo}}',
                    owner: '{{site.gitalk.owner}}',
                    admin: ['{{site.gitalk.admin}}'],
                    id: window.location.pathname,
                    });
                    gitalk.render('gitalk-container');
                </script>
				
				                        </ol>
                    </div>
					
                {% endif %}
                <!-- Gitalk end -->
							
                </main>
